
.bg-light{

    background: #01b5e2!important;;
}
.margin-top-20{
    margin-top: 20px;
}
.feature-img{
    min-height: 200px;
}

.footer-bottom{
    padding: 20px;
    margin-top: 20px;


    background: #01abd6;
}




